/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
@font-face {
    font-family: 'Inter';
    src: URL('Inter.ttf') format('truetype');
}
@font-face {
    font-family: 'InterB';
    src: URL('Inter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'InterLB';
    src: URL('Inter-LightBold.ttf') format('truetype');
}
@font-face {
    font-family: 'InterL';
    src: URL('Inter-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'InterT';
    src: URL('Inter-Thin.ttf') format('truetype');
}
body {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    background: #fff;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        padding: 0;
    }
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.offcanvas #page {
    overflow: hidden;
    position: absolute;
}
.offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    background: rgba(0, 0, 0, 0.7);
    content: "";
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
    color: #303133;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    line-height: 1.3;
}

.s-button {
    padding: 13px 38px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

.colorlib-nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .colorlib-nav {
        margin: 0;
    }
}

.colorlib-nav .top-header-actual {
    text-align: center;
    background-color: #fbda72;
    padding: 9px 0;
}
.colorlib-nav .top-header-actual span {
    font-family: "Poppins", Helvetica, Arial, serif;
    font-style: normal;
    font-size: 16px;
    color: #000;
}

.colorlib-nav .top-header {
    text-align: center;
    background-color: rgba(48, 203, 158, 1.0);
    padding: 9px 0;
}
.colorlib-nav .top-header span {
    font-family: "Poppins", Helvetica, Arial, serif;
    font-style: normal;
    font-size: 16px;
    color: #fff;
}
.colorlib-nav .top-header img {
    margin-left: 10px;
    height: 26px;
    width: 16px;
}

.colorlib-nav .top-menu {
    padding: 25px 30px;
}
@media screen and (max-width: 768px) {
    .colorlib-nav .top-menu {
        padding: 28px 1em;
    }
}
.colorlib-nav #colorlib-logo {
    margin: 0;
    padding: 0;
}
.colorlib-nav #colorlib-logo a {
    position: relative;
}
.colorlib-nav #colorlib-logo img {
    width: 171px;
}

@media screen and (max-width: 768px) {
    .colorlib-nav #colorlib-logo img {
        width: 120px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .colorlib-nav .menu-1 {
        display: none;
    }
}
.colorlib-nav ul {
    padding: 0;
    margin: 0;
    margin-top: 7px;
}
.colorlib-nav ul li {
    padding: 13px 38px;
    margin: 0;
    list-style: none;
    display: inline;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #10253C;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
}
.colorlib-nav ul li a {
    position: relative;
    /*padding: 20px 29px;*/
    color: inherit;
}

@media (max-width: 1200px) {
    .colorlib-nav ul li a {
        /*padding: 20px 10px;*/
    }
}

.colorlib-nav ul li:hover {
    background: #10253C;
    color: #fff;
}


#home {
    color: #10253C;
    margin-bottom: 180px;
}

#home .animated-img {
    margin-top: 80px;
}


#home .animated-img img {
    width: 70%;
}

#home h2 {
    margin-top: 180px;
    font-family: "InterB", Helvetica, Arial, serif;
    color: rgba(16, 19, 33, 1.0);
    font-size: 82px;
    margin-bottom: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 78px;
    text-align: left;
    cursor: pointer;
}

#home p {
    font-family: "InterL", Helvetica, Arial, serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}

#home .s-button {
    margin-top: 30px;
    color: #fff;
    background: linear-gradient(#1A6FC5 0%, #6B45BC 100%);
}

@media (max-width: 900px) {
    #home .animated-img img {
        width: 90%;
    }
    #home h2 {
        margin-top: 80px;
        font-size: 64px;
    }
}

@media (max-width: 768px) {
    #home .animated-img {
        margin-top: 0;
    }
    #home .animated-img img {
        width: 100%;
    }
    #home h2 {
        margin-top: 0;
        font-size: 52px;
        margin-bottom: 10px;
    }
}

.social-tags-menu {
    display: none;
    margin-top: 30px;
}
.social-tags {
    position: absolute;
    right: 0;
    top: 100px;
}

.social-tags div, .social-tags-menu div {
    margin-bottom: 25px;
}

.social-tags img, .social-tags-menu img {
    width: 28px !important;
}


@media (max-width: 900px) {
    .social-tags {
        top: 30px;
    }
}

@media (max-width: 768px) {
    #home .social-tags {
        display: none;
    }
    #colorlib-offcanvas .social-tags-menu {
        display: block;
    }
}


/*


@media (max-width: 1200px) {
    .animated-logo .display-tc h2 {
        font-size: 35px;
        line-height: 43px;
    }
}

@media (max-width: 1000px) {

    .animated-logo .display-tc h2 {
        font-size: 30px;
        line-height: 38px;
    }
    .animated-logo .display-tc .animated-img img {
        top: -100px !important;
    }
}

*/


.clients .container {
    height:146px;
    margin-bottom: -73px;
    margin-top: -73px;
    position: relative;
    z-index: 2;
    background: #fff;
    box-shadow: 0 -2px 14px 0 #f3f3f3;
    border-radius: 20px;
    overflow-x: auto;
}

.clients img {
     margin: 40px 10px 0;
     /*height: 64px;*/
 }

.clients .overflow {
    width: 1200px;
}

@media (max-width: 760px) {
    .clients .overflow {
        width: 800px;
    }
    .clients img {
        width: 80%;
    }
}

.about {
    z-index: 1;
    background: #10253C;
    position: relative;
    padding-top: 180px;
    padding-bottom: 150px;
    color: #fff;
}

.about .main-text {
    font-family: "InterLB", Helvetica, Arial, serif;
    font-style: normal;
    font-size: 32px;
    text-align: left;
    line-height: 47px;
    padding-right: 180px;
}

.about .block-text {
    margin-top: 20px;
    margin-bottom: 70px;
    font-family: "InterL", Helvetica, Arial, serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
}
.about .edge-block {
    padding-right: 55px
}

@media (max-width: 900px) {
    .about {
        padding-bottom: 0;
    }

    .about .main-text {
        padding-right: 0;
    }

    .about .block-text {
        font-size: 18px;
        line-height: 22px;
    }

    .about .edge-block {
        padding-right: 0;
    }
}

@media (max-width: 760px) {
    .about {
        padding-top: 100px;
        padding-bottom: 0;
        margin-top: 0;
    }

    .about .main-text {
        font-size: 28px;
        line-height: 35px;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .about .block-text {
        margin-bottom: 70px;
        font-size: 20px;
        line-height: 25px;
    }
    .about .edge-block {
        padding-right: 0;
    }
}

.team {
    padding-top: 100px;
    padding-bottom: 100px;
}

.team h2 {
    font-family: "InterLB", Helvetica, Arial, serif;
    font-size: 40px;
}

.team .text-block {
    padding: 45px 35px;
    box-shadow: 0 0 20px #ebe4f7;
    min-height: 730px;
}

.team .header .photo {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.team .header p {
    margin-top: 0;
    font-size: 16px;
    line-height: 28px;
    color: rgba(16, 37, 60, 0.4);
}

.s-serge-levin {
    background-image: url(../images/s-serge-levin.png);
}
.s-evelina-lavrova {
    background-image: url(../images/s-evelina-lavrova.png);
}
.s-kent-osband {
    background-image: url(../images/s-kent-osband.png);
}

.team .header-text {
    margin-top: 15px;
    font-size: 32px;
    font-family: "InterLB", Helvetica, Arial, serif;
}

.team .body-text {
    margin-top: 15px;
    font-size: 19px;
    line-height: 28px;
    font-family: "Inter", Helvetica, Arial, serif;
}

@media (max-width: 760px) {
    .team {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .team .text-block {
        min-height: auto;
    }
}

.footer {
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
}

#colorlib-offcanvas {
    position: absolute;
    z-index: 99;
    width: 270px;
    background: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    bottom: 0;
    padding: 100px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
@media screen and (max-width: 768px) {
    #colorlib-offcanvas {
        display: block;
    }
}
.offcanvas #colorlib-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}
#colorlib-offcanvas a {
    color: rgba(222, 222, 222, 1.0);
}
#colorlib-offcanvas a:hover {
    color: #4aca85;
}
#colorlib-offcanvas ul {
    padding: 0;
    margin: 0;
}

#colorlib-offcanvas ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#colorlib-offcanvas ul li > ul {
    padding-left: 20px;
    display: none;
}
#colorlib-offcanvas ul li.offcanvas-has-dropdown > a {
    display: block;
    position: relative;
}
#colorlib-offcanvas ul li.offcanvas-has-dropdown > a:after {
    position: absolute;
    right: 0px;
    font-family: "Poppins", Arial, sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e0c5";
    font-size: 20px;
    color: rgba(222, 222, 222, 1.0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
#colorlib-offcanvas ul li.offcanvas-has-dropdown.active a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); }
#colorlib-offcanvas ul li.btn-cta {
    margin-top: 5px; }
#colorlib-offcanvas ul li.btn-cta a {
    border-bottom: 1px solid #4aca85;
    padding-bottom: 5px;
}

.colorlib-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
    top: 100px;
}

.colorlib-nav-toggle.active {
    background: url(../images/s-menu-close.png) center no-repeat;
}


.colorlib-nav-toggle {
    position: absolute;
    right: 10px;
    top: 22px;
    padding: 6px 0 0 0;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 100;
    border-bottom: none !important;
    background: url(../images/s-menu-open.png) center no-repeat;
}
@media screen and (max-width: 768px) {
    .colorlib-nav-toggle {
        display: block;
    }
}
.colorlib-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat rgba(255, 255, 255, 0.9);
}

form {
    position: relative;
    margin-top: 30px;
}

input {
    border: 0;
    height: 59px;
    background: #e1dde6;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    font-weight: 300;
}


.alerts-wrap {
    margin-top: 20px;
}
