::-moz-selection {
  background: #2773bf;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #2773bf;
  color: #fff;
  text-shadow: none;
}


a {
	color: #2773bf;
}

a:hover {
	color:#762f8d;
}

footer .nav-list li a:hover,footer ul.regular li a:hover  {
	color:#762f8d;
}

.btn-link:hover {
  color: #762f8d;
}

.btn-color {
  background: #2773bf;
	border: 1px solid #2773bf;
}
.btn-color:hover,
.btn-color.active,
.btn-color.disabled,
.btn-color[disabled] {
  background: #762f8d;
  *background: #762f8d;
}

/* sequence slider */

.info  h2{
	background: #2773bf;
}

/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #2773bf;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #2773bf;
}

/* header */
.navbar .nav li.active {
	border-top:5px solid #2773bf;	

}
.navbar .nav li.active a {
	color:#2773bf;	
}

.navbar .nav li ul.dropdown-menu li a:hover, .navbar .nav li.active ul.dropdown-menu li a:hover  {
	background:#2773bf;
	
}
.color {
	background: #2773bf;
	color:#fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #2773bf;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

/* sequence slider */
.sequence-nav .next:hover,.sequence-nav .prev:hover {
	background: #2773bf;
}

/* breadcrumb */
.breadcrumb {

}


/* accordion */
.accordion-heading a:hover {
	color: #2773bf;
}
.accordion-heading .active{
	color: #2773bf;
}

/* pricing box */
.priceBox.special .emphasis {
  background: #2773bf;
}

/* tagline */
.tagline {
	border-bottom:5px solid #2773bf;
}



/* button */
.btn-link {
	color: #2773bf;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #2773bf;
  border-bottom-color: #2773bf;
}



/* tabs */
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #2773bf;
}

/* accordion */
.accordion-heading a.accordion-toggle:hover {
	color: #2773bf;
}

/* label */
.label-orange,
.badge-orange {
  background-color: #2773bf;
}


/* nav */
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background: #2773bf;
}


.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background: #2773bf;
}

.nav .dropdown-toggle .caret {
  border-top-color: #2773bf;
  border-bottom-color: #2773bf;
}

/* custom progress bar according template skin */
.progress-orange .bar,
.progress .bar-orange {
  background: #2773bf;
}

.progress-orange.progress-striped .bar,
.progress-striped .bar-orange {
  background: #2773bf;
}

/* pagination */

.pagination ul li a:hover {
  background: #2773bf;
  border-color:#2773bf;
}


/* widget */
aside .widget ul.cat li a:hover {
	color: #2773bf;
}

aside .widget ul.recent-posts li a:hover {
	color: #2773bf;
}

/* article */

.entry-body a h5.title:hover {
	color: #2773bf;
}

article.blog-post .post-heading h3 a:hover {
	color:#2773bf;
}

article.last-post {
	background: #2773bf;
}

ul.time-post li.year{
	border-bottom:1px solid #2773bf;
}

section#subintro {
	background: #2773bf;
}


 /* 404 */
 

.error-body{
	background:#2773bf;
	padding:20px;
	text-align:center;
}


/* misc */
a.thumbnail:hover {
  border-color: #2773bf;
}

ul.filter li.active a:hover,.flex-control-nav li a:hover, .flex-control-nav li a.active{
	background: #2773bf;
}

.thumbnail h4 a:hover, .thumbnail .meta  span a:hover, ul.recent li h6 a:hover, ul.post-meta li a:hover, .media-body span, .media-body .media-heading a:hover, form label span, article.last-post h5 a:hover{
	color: #2773bf;
	text-decoration:none;
}